
<div class="feature-row">
  <div class="feature">
    <div class="feature-title">History</div>
    <p class="text-body" style="line-height: 1.6;">Founded in T-MINUS 0 days. </p>
  </div>
  <div class="feature">
    <div class="feature-title">What we're Doing now?</div>
    <p class="text-body" style="line-height: 1.6;">We realized that all the developers and enterprises, around the world are wasting their valuable energy and time on non-development related issues;
      E.g. secured and reliable container orchestration, CI/CD etc. Our promise is to deliver the community a managed secured and reliable platform with a bunch of handy tools
      and of course within a shallow learning curve.</p>
  </div>
  <div class="feature">
    <div class="feature-title">Why you're gonna choose us?</div>
    <p class="text-body" style="line-height: 1.6;"> Cause we're avengers!</p>
  </div>
</div>
