


<div class="feature-row">
  <span *ngFor="let avenger of avengers">
  <div class="feature">
    <div class="feature-title">{{avenger.name}}</div>
     <p class="text-body" style="line-height: 1.6;"> War attended
    <span *ngFor="let mission of avenger.missions">
           <span style="font-style: italic">{{mission}} </span>
         </span></p>
    <img class="img-fluid" src="data:image/PNG;base64,{{avenger.image}}" src="data:image/JPG;base64,{{avenger.image}}" width="304" alt=""/>
  </div>
  </span>
</div>
